name: Rust

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        job:
          - { os: "windows-latest", path: "dist/*.exe" }
          - { os: "macos-latest", path: "dist/*.dmg" }

    runs-on: ${{ matrix.job.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Install cargo-packager
        run: cargo install cargo-packager --locked

      - name: Build (Windows)
        run: cargo packager --release --formats nsis
        if: matrix.job.os == 'windows-latest'

      - name: Build (macOS)
        run: cargo packager --release --formats dmg
        if: matrix.job.os == 'macos-latest'

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ matrix.job.path }}
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # env:
